doctype html

head
  title Bootstrap Example
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css' rel='stylesheet')
  script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js' integrity='sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT' crossorigin='anonymous')

nav.navbar.navbar-expand-lg.navbar-light.bg-secondary.container
  .container
    a.navbar-brand.text-white.mx-5(href='#') Dashboard
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse.d-flex.justify-content-center
      ul.navbar-nav
        li.nav-item.mx-5
          a.nav-link.active.text-white(aria-current='page' href='#') Clients
        li.nav-item.mx-5
          a.nav-link.text-white(href='#') Invoices
        li.nav-item.dropdown.mx-5
          a#navbarDropdownMenuLink2.nav-link.dropdown-toggle.text-white(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            | Admin tools
          ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink2')
            li
              a.dropdown-item(href='#') Action
            li
              a.dropdown-item(href='#') Another action
            li
              a.dropdown-item(href='#') Something else here
        li.nav-item.dropdown.mx-5
          a#navbarDropdownMenuLink.nav-link.dropdown-toggle.text-white(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            | CMS
          ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
            li
              a.dropdown-item(href='#') Action
            li
              a.dropdown-item(href='#') Another action
            li
              a.dropdown-item(href='#') Something else here
        li.nav-item.dropdown.mx-5
          a#navbarDropdownMenuLink3.nav-link.dropdown-toggle.text-white(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            | Reports
          ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink3')
            li
              a.dropdown-item(href='#') Action
            li
              a.dropdown-item(href='#') Another action
            li
              a.dropdown-item(href='#') Something else here

  
