doctype html

head
  title Bootstrap Example
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='index.css')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css' rel='stylesheet')
  

.example
 h2 3 column layout 
  .example-layout
    header header
    .row
      .col-1 stuff1
      .col-2 stuff2
      .col-3 stuff3
    footer footer


.table-container
  h1.heading responive table
  table.table
    thead
      tr
        th Start Date
        th Start / End time
        th Batch Type
        th Training Mode
        th Batch Status
        th #
    tbody
      tr.table-primary
        td(data-label='Start Date') 1 jan 2021
        td(data-label='Start / End time') 09:00 - 13:00 (IST)
        td(data-label='Batch Type') Weekend
        td(data-label='Training Mode') Online Training
        td(data-label='Batch Status')
          span.text_open [ Open ]
        td(data-label='#')
          a.btn.btn-error.d-block.text-white(href='#') Enroll Now
      tr.table-danger
        td(data-label='Start Date') 1 jan 2021
        td(data-label='Start / End time') 09:00 - 13:00 (IST)
        td(data-label='Batch Type') Weekend
        td(data-label='Training Mode') Online Training
        td(data-label='Batch Status')
          span.text_open [ Open ]
        td(data-label='#')
          a.btn.btn-error.d-block.text-white(href='#') Enroll Now
      tr.table-warning
        td(data-label='Start Date') 1 jan 2021
        td(data-label='Start / End time') 09:00 - 13:00 (IST)
        td(data-label='Batch Type') Weekend
        td(data-label='Training Mode') Online Training
        td(data-label='Batch Status')
          span.text_open [ Open ]
        td(data-label='#')
          a.btn.btn-error.d-block.text-white(href='#') Enroll Now
      tr.table-success
        td(data-label='Start Date') 1 jan 2021
        td(data-label='Start / End time') 09:00 - 13:00 (IST)
        td(data-label='Batch Type') Weekend
        td(data-label='Training Mode') Online Training
        td(data-label='Batch Status')
          span.text_open [ Open ]
        td(data-label='#')
          a.btn.btn-error.d-block.text-white(href='#') Enroll Now






  
